:root {
    --color1: #05b1b1;
    --color2: #52339a;
}


header,
section,
footer {
    padding: 100px 0px;
}

.about_author {
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
}

footer {
    padding: 40px 0 !important;
}

header {
    padding: 150px 0px;
}

header,
footer {
    background: url(../img/pattern.png), rgb(0, 0, 0);
    background: url(../img/pattern.png), -moz-linear-gradient(90deg, var(--color1), var(--color2));
    background: url(../img/pattern.png), -webkit-linear-gradient(90deg, var(--color1), var(--color2));
    background: url(../img/pattern.png), linear-gradient(90deg, var(--color1), var(--color2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
}

.about {
    background-color: #f4f4f4;
}

.itd_play {
    width: 60px;
    height: 60px;
    background-color: var(--color1);
    margin: 30px auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.itd_triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 0 12px 22px;
    border-color: transparent transparent transparent var(--bs-white);
    transform: rotate(0deg);
    margin-left: 4px;

}

.itd_play:hover {
    background-color: var(--color2);
}

.btn-itd {
    display: block;
    max-width: 200px;
    padding: 10px 35px;
    background-color: var(--color2);
    color: var(--bs-white);
    margin: 0 auto;
}

.btn-itd:hover {
    background-color: var(--color1);
    color: var(--bs-white);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row_logo {
    font-size: 25px;
}

.circle {
    color: var(--color2);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 0 auto;
    margin-bottom: 30px;
}

.line-color-2 {
    background-color: var(--color2);
}

.color1 {
    color: var(--color1);
}

.col_p {
    font-weight: 500;
    font-size: 20px;
}

.for__text {
    border: 3px solid var(--color1);
    padding: 50px;
    margin: 5px 0;
}

.color2 {
    color: var(--color2);
}

.pcourse {
    background-color: #f4f4f4;
}

.accordion-button:not(.collapsed) {
    background-color: var(--color2);
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.itd-img {
    max-width: 260px;

}

.course_comments {
    background-color: #f4f4f4;

}

.itd-people {
    border-radius: 100% !important;
    border: 3px solid var(--color1);
}

.itd-text {
    margin: 0 auto;
    max-width: 430px;
}

.img-itd {
    max-width: 500px;

}

.itd-btnn {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
}